.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
}
#drum-machine{
  border-style: solid;
  border-color:blue;
  border-width:2px;
  background-color:white;
  width:50%;
  left:25%;
  position:relative;
  height:300px;
  top:100px;
  border-radius:10px;
  box-shadow: 5px 10px 5px  #853d70;


}

h1 {
  text-align: center;
  color: #a60059;
}

#drum-pad {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.drum-pad {
  background-color: #660033;
  margin: 5px;
  font-size: 30px;
  border-radius:20px;
  border: 4px solid;
  border-color:blue;
  box-shadow: 10px 5px 5px blue;

}
.drum-pad:hover{
  background-color:#800000;
  border: 3px solid red;
  box-shadow: 10px 5px 5px red;
}

#display {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-style:  solid;
  border-radius: 10px;
  border-color: blue;
  box-shadow: 10px 8px 10px  #853d70;

}
